.bg-blue-dark {
    background: $base-color;
}

.bg-green-dark {
    background: $base-green-dark;
}

.bg-red-dark {
    background: $base-red-dark;
}

.bg-yellow-dark {
    background: $base-yellow-dark;
}
