{% extends 'base.html.twig' %}

{% block title %}
    SB Admin 2 - Bootstrap Admin Theme
{% endblock title %}

{% block body %}

    <div id="wrapper">

        <!-- Navigation -->
        {% include '_bootstraping/_menu.html.twig' %}

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Blank</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
{% endblock %}