{% for msg in app.session.flashBag.get('success') %}
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-success alert-flash">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ msg }}
            </div>
        </div>
    </div>
{% endfor %}

{% for msg in app.session.flashBag.get('error') %}
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-danger alert-flash">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ msg }}
            </div>
        </div>
    </div>
{% endfor %}

{% for msg in app.session.flashBag.get('warning') %}
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-warning alert-flash">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ msg }}
            </div>
        </div>
    </div>
{% endfor %}

{{ clear_flash_bag() }}
